@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Muli', sans-serif;
    margin: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    overflow: hidden;
}

.container {
    display: flex;

}

.panel {
    width: 90vw;
    background-size: cover 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    position: absolute;
    left: 10px;
    font-size: 24px;
    bottom: 10px;
    margin: 0;
    opacity: 0;
    padding: 2px;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(6),
    .panel:nth-of-type(5),
    .panel:nth-of-type(4){
        display: none;
    }
}